.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 125px 40px 100px;
    height: 100vh;
    color: white;
}

.task-header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.task-title {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    letter-spacing: 1.1px;
}

.task-info {
    display: flex;
    width: 27%;
    justify-content: space-between;
    align-items: center;
}

.task-info__deadlines {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.task-date {
    font-size: 24px;
    font-weight: 600;
}

.task-desc {
    display: flex;
    font-size: 18px;
    letter-spacing: 1.1px;
    padding: 60px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

@media (min-width: 320px) and (max-width: 991px) {  
    .task{
        padding: 20px;
        flex-direction: flex-start;
        height: unset;
    }

    .task-date {
        font-size: 18px;
    }

    .task-info {
        width: 60%;
    }

    .task-title {
        font-size: 8px;
        width: unset;
    }

    .task-desc {
        padding: 60px 0 60px;
    }
}

@media (min-width: 320px) and (max-width: 1200px) {
    .task-header {
        flex-direction: column-reverse;
    }    
}