.dashboard {
    display: flex;
    width: 100%;
    padding: 40px 40px;
}

.dashboard-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(15,12,41, 0.3) 0%, rgba(48,43,99, 0.1) 100%);
    border-radius: 16px;
    box-shadow: 10px 10px 20px #0d0b0f, -10px -10px 20px #110f15;
    backdrop-filter: blur(2rem);
}

.dashboard-sidebar {
    width: 14%;
    padding: 60px 20px 60px 20px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background: white;
    background: linear-gradient(90deg, rgba(15,12,41,0.7) 0%, rgba(48,43,99,0.3) 100%);
    box-shadow: 1px 0px 20px #0d0b0f, 0px 0px 0px #110f15;
}

.userInfo {
    display: flex;
    flex-direction: column;
    color: white;
}

.user-avatar {
    padding: 0 0 20px;
}

.user-name h4, .user-email h4 {
    margin: 0;
    font-size: 14px;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    height: 350px;
    color: #426696;
}

.dashboard-menu ul, .dashboard-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainHalf {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .dashboard {
    padding: unset;
  }

  .dashboard-wrapper {
    width: unset;
  }

  .dashboard-sidebar {
    width: 31%;
    padding: 25px 0px;
  }

  .dashboard-wrapper {
    justify-content: flex-end;
  }

  .mainHalf {
      padding: 25px 0;
  }

  .user-name h4, .user-email h4 {
  font-size: 10px;
  }
}  

@media (min-width: 481px) and (max-width: 767px) {
  .dashboard {
    padding: 5px 5px;
}

.dashboard-sidebar {
  padding: 25px 0px;
}

.dashboard-sidebar {
  width: 30%;
  padding: 25px 0px;
}

.user-name h4, .user-email h4 {
  font-size: 10px;
}

.mainHalf {
    padding: 25px 0;
}
}

@media (min-width: 768px) and (max-width: 991px) { 
.dashboard {
    padding: 5px 5px;
}

.dashboard-sidebar {
    width: 22%;
}
}

@media (min-width: 992px) and (max-width: 1300px){
    .dashboard-sidebar {
      width: 19%;
    } 
  }

@media (min-width: 320px) and (max-width: 1000px) {
  .dashboard-sidebar {
    height: 100vh;
  }
}