.menu-btn {
    display: inline-flex;
    color: aliceblue;
    width: 80%;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 10px black;
    justify-content: space-around;
    align-items: center;
}