.register-form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    color: black;
    font-size: 12px;
    width: 80%;
    justify-content: space-evenly;
    letter-spacing: 1.2px;
}