.task-item {
    margin-top: 20px;
    display: flex;
    width: 72%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(
    to left top,
    rgba( 103, 58, 183, 0.7),
    rgba(81, 45, 168, 0.3)
  );  
    border-radius: 50px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.task-item__title {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.task-item__info {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.task-term {
    font-size: 13px;
    font-weight: bold;
    color: #bbbbbb;
    letter-spacing: 1.02px;
}

.task-item__chevron {
    color: white !important;
}

.task-item {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  

@media (min-width: 320px) and (max-width: 479px) {
    .task-item {
        width: 75%;
        padding: 10px 10px;
    }

    .task-item__title {
        padding-left: unset;
        font-size: 10px;
    }

    .task-term  {
        font-size: 8px;
    }

    .task-item__info {
        width: unset;
    }
}

@media (min-width: 480px) and (max-width: 991px) {     
    .task-item {
        width: 78%;
        padding: 10px 10px;
    }

    .task-item__info {
        width: 65%;
    }

    .task-item__title {
        padding-left: 10px;
        font-size: 12px;
    }

    .task-term  {
        font-size: 10px;
    }
}