.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    padding-right: 40px;
}

.dashboard-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 465px;
    align-items: center;
}

.currentTime  {
    font-size: 20px;
}

.tasks-counters {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.tasks-counters p {
    margin: 0;
}

.user-control:hover {
    transform: scale(1.1);
    transition: 200ms;
}

@media (min-width: 320px) and (max-width: 767px) {  
    .dashboard-header {
        padding: unset;
        justify-content: center;
        height: unset;
    }

    .dashboard-header__wrapper {
        align-items: center;
        flex-direction: column-reverse;
        height: 115px;
        justify-content: space-between;
        width: unset;
    }   
}

@media (min-width: 768px) and (max-width: 991px) { 
    .dashboard-header {
        padding-right: 30px;
    }
}