::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 0%);
    border-radius: 10px;
    background: #16171d;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba( 103, 58, 183, 0.3);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        to left top,
        rgba( 103, 58, 183, 0.7),
        rgba(81, 45, 168, 0.3)
      );
  }