.addTask-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    color: #eaeaea;
}

.addTask-form__header {
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.addTask-form__header .title{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addTask-form__header .priority, .addTask-form__header .terms {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.addTask-form__header .priority {
    width: 180px;
}

.addTask-form__header .terms {
    width: 200px;
}

.addTask-form__header .terms h4 {
    padding-right: 15px;
}

.addTask-form__header input {
    width: 100%;
    height: 40px;
}

.addTask-form__info {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.addTask-form__info textarea {
    height: 45vh;
}

.addTask-form__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

input[type="text"], input[type="date"], textarea, select {
    background-color: rgba(20, 10, 30, 0.4);
    color: #eaeaea;
    border: 0;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
}

input[type="text"], input[type="date"], select {
    border-radius: 50px;
}

input.task-title {
    padding: 0 0 0 20px;
}

select {
    background: linear-gradient(to right, #673ab7, #512da8);
    padding: 3px;
}

input[type="date"] {
    background: linear-gradient(to right, #673ab7, #512da8);
    padding: 5px;
    height: 13px;
}

textarea {
    border-radius: 10px;
    padding: 20px;
    white-space: pre-wrap;
}

*:focus {
    outline: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    .addTask-form__header {
        padding: 20px 40px;
    }  

    .addTask-form__info {
        padding: 0 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {     
    .addTask-form {
        height: 86vh;
    }

    .addTask-form__header {
        padding: 20px 60px;
        flex-direction: column;
    }

    .addTask-form__header .title {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: unset;
    }

    .addTask-form__header .title h4 {
        width: 21%;
        margin-right: 10px;
    }

    .addTask-form__info {
        padding: 0 20px;
    }

    .addTask-form__info textarea {
        height: 20vh;
    }
}